<!DOCTYPE html>
<html>
  <head>
    <title>bookes2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav4" aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container">
          <a class="navbar-brand" href="/">Bookers</a>
          <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
              <% if user_signed_in? %>
                <li class="nav-item active">
                  <%= link_to user_path(current_user.id), class: "nav-link text-light" do %>
                    <i class="fas fa-home mr-1"></i>Home
                  <% end %>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="/users"><i class="fas fa-users mr-1"></i>Users</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="/books"><i class="fas fa-book-open mr-1"></i>Books</a>
                </li>
                <li class="nav-item active">
                  <%= link_to destroy_user_session_path, class: "nav-link text-light", method: :delete do %>
                    <i class="fas fa-sign-out-alt"></i> Log out
                  <% end %>
                </li>
                <% else %>
                <li class="nav-item active">
                  <a class="nav-link" href="/"><i class="fas fa-home mr-1"></i>Home</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="/home/about"><i class="fas fa-link mr-1"></i>About</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="/users/sign_up"><i class="fas fa-user-plus mr-1"></i>Sign up</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="/users/sign_in"><i class="fas fa-sign-in-alt mr-1"></i>Log in</a>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="container">
      <%= yield %>
    </div>
    <footer>
      <p class="mt-5 text-center">CopyRight Infratop.inc</p>
    </footer>
  </body>
</html>
